:host {
    font-family: Consolas, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

div {
    width: 400px;
    float: left;
    margin: 5px;
}

.message {
    padding: 2px;
    height: 40px;
    background: lightgray;
}

.error {
    background: lightcoral;
}

.success {
    background: lightgreen;
}

button {
    margin: 3px;
}

textarea {
    width: 100%;
    padding: 2px;
}

